<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="OrangeHRM.Pratice.login"/>
      <class name="OrangeHRM.Pratice.addimmigration"/>
      <class name="OrangeHRM.Pratice.deleteimmigration"/>
      <class name="OrangeHRM.Pratice.addattachmentinimmigration"/>
      <class name="OrangeHRM.Pratice.emergencycontact"/>
      
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
